<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.kalepa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".Preferences.SharedApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_k"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".TradeActivity">
        </activity>

        <activity android:name=".EditTradeActivity">
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.kalepa.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".SelfProfileActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.MainActivity"/>
        </activity>
        <activity
                android:name=".ChatListActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.MainActivity"/>
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:configChanges="screenSize|orientation"
                android:label="@string/registro"
                android:parentActivityName=".LoginActivity"
                android:windowSoftInputMode="stateHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.LoginActivity"/>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
                android:name=".ProductBuyActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.MainActivity"/>
        </activity>
        <activity
                android:name=".ProductBidActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.MainActivity"/>
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity
                android:name=".UploadActivity"
                android:label="@string/subir_articulo"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.MainActivity"/>
        </activity>
        <activity android:name=".UpdateProductActivity">
        </activity>
        <activity
                android:name=".ChatActivity"
                android:parentActivityName=".ChatListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.kalepa.ChatListActivity"/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>